<h1>Editing message</h1>

<%= render "form", message: @message %>
<br>
<%= form_tag ai_generate_message_path(@message), method: :post, class: 'relative' do %>

  <div>
    <input name="ai_message" type="text" />
  </div>
  <div>
    <button type="submit" >Send </button>
  </div>
<% end %>

<div>
  <%= link_to "Show this message", @message %> |
  <%= link_to "Back to messages", messages_path %>
</div>
